/*html{
    width:100%;
    height:100%;
}*/

/*body {
    width:100%;
    height:100%;
}*/


html, body {
    height: auto;
}

.navbar{
    display:none !important;
}

#body-content{
    margin:0;
    padding:0;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

#control-pannel{
    display:none !important;
}

#GotMap{
    position:absolute; 
    top: 0px; 
    left:0px; 
    bottom: 0px; 
    right: 300px;
}


#leaflet-control-container {
    /*display: initial;*/
    height: auto;
    width: 98% !important;
    border: none !important;
}
